<style>

    div.panel-primary {
        width: 300px;
        border: 1px solid #0094ff;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 0px;
    }

    div.panel-body {
        min-height: 200px;
    }

    div.panel-heading {
        cursor: pointer;
    }

    textarea {
        margin: 0px 12px;
    }

    div.chatMessages {
        overflow-y:auto;
        height: 250px;
        margin-bottom: 10px;
    }

    .user-sms {
        margin-top: 15px;
        background-color: #74b9ff;
        padding: 5px;
        border-radius:20px;
        word-wrap: break-word;
        max-width: 90%
    }

    .admin-sms {
        margin-top: 10px;
        background-color: #b2bec3;
        padding: 5px;
        border-radius:20px;
        word-wrap: break-word;
        max-width: 90%;
    }
    #bullet-status{
        border-radius: 5px;
        border: 0;
        padding: 5px;
        float: right;
    }
    #bullet-status.connected{
        background: #91f100;
        }
    #bullet-status.disconnected{
        background: #FF0000;
    }
</style>
 
<div>
    <script>localStorage.setItem('token','@ViewBag.Teste')</script>
</div>

<div class="content">
    <div class="panel panel-primary">

        <div class="panel-heading" data-toggle="collapse" data-target="#chat">
            <i class="glyphicon glyphicon-comment"></i> Clique aqui
            <button id="bullet-status"></button>
        </div>

        <div class="panel-body collapse" id="chat">
            <div class="">

                <div class="chatMessages">
                    <div class="col-md-12">
                        <p class="user-sms pull-left">
                            Olá como posso ajudar?
                        </p>
                    </div>

                    <div class="col-md-12">
                        <p class="admin-sms pull-right">
                            Olá como vai?
                        </p>
                    </div>

                </div>

                <div class="messageSend">
                    <form class="form">
                        <div class="form-inline">

                            <div class="row">

                                <textarea class="form-control" id="message" placeholder="Message" required></textarea>
                                <button class="form-control btn btn-primary" id="send" type="button">Enviar</button>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>